.modal{
    width: 550px;
    height: 250px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 150px;
    z-index: 99999;
}

.modalContainer{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    z-index: 99999;
}

#cadastro{
    width: 200px;
    height: 100px;
    background-color: aqua;
}

